*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    direction: rtl;
}
    /*nav bar section*/
.navrow{
    font-family: Arial, Helvetica, sans-serif;
}    
.navbrand{
    display: flex;
    justify-content: flex-start;
}
.navbrand a{
    text-decoration: none;
    color: black !important;
    font-weight: 700;
}
.navbrand a:hover{
    color: red !important;
}
.logo{
    width: 3em;
}
.items{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}
ul{
    display: flex;
    list-style: none;
    margin: 20px 0 0 0 !important;
}
.nav-link{
    height: 100% !important;
    justify-content: space-between;
    vertical-align: middle;
    display: table-cell;
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    background-color: rgb(173, 91, 91);
}

.icon{
    width: 1.5em;
}
button{
    height: 100%;
    padding: 10px;
    background-color: crimson;
}
    /*carousel image section*/
.carousel-item{
    height: 25rem !important;
    color: #181b3d;
    position: relative;
}
.carouselsection{
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 30px;
}
.imagesec{
    width: 18rem;
    bottom: 0px;
    position: relative;
    bottom: -15%;
    margin-bottom: -10px;
}
.littlebox{
    display: inline-block;
    color: #fff;
    font: italic 600 20px/45px "Barlow", sans-serif;
    background-color: brown;
    transform: skewX(-30deg);
    margin-right: 2rem;
}
.textcover{
    margin-right: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
.firstslide{
    height: 37rem !important;
    background-image: url(./crf/avali.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.secondslide{
    height: 37rem !important;
    background-image: url(./crf/dovomi.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.thridslide{
    height:37rem !important;
    background-image: url(./crf/sevomi.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
    /*dropdown section goas here*/
.parentdropdown{
    background: rgba(168, 167, 167, 0.5);
    display: flex;
    flex-wrap: wrap;
    padding: 45px 15px;
    width: 100%;
    margin-top: -80px;
    z-index: 3;
    position: relative;
    box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.05);
    z-index: 3;
    justify-content: center !important;
    align-items: center !important;
    width: fit-content;
    margin-left: auto !important;
    margin-right: auto !important;
}
.col-md-3{
    display: flex;
    justify-content: space-around !important;
    align-items: center;
}
    /*logos goas here*/
.parentlogos{
    position: relative;
    display: flex;
    justify-content: space-between !important;
}
.logos{
    width: 80px !important;
    height: 80px !important;
}
.text-danger{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.h1logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

    /*feachers bikes section*/
.crousel-shop{
    margin-bottom: 100px !important;
}
.motorhs{
    /* display: flex;
    justify-content: center; */
    align-items: center;
    text-align: center;
    margin-top: 40px !important;
    margin-bottom: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text-bike{
    width: 300px;
    margin: auto;
    background-color: rgba(168, 167, 167, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.view-btn{
    text-decoration: none;
    font-size: 32px;
    color: crimson  ;
}
.view-btn:hover{
    background-color: rgb(214, 64, 64);
}
    /*image with text are here*/
.text-motor{
    background: url(./motors/2022-Yamaha-MT10.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 22rem;
    color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text-motor p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #ffffff;
}
.textbtn{
    background-color: red !important;
    width: 150px;
    color: #ffffff !important;
}
    /*browse by type section goes here*/
.typesection{
    margin-bottom: 30px;
}
.typenav{
    max-width: 750px;
    margin: auto;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around !important;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.nav li{
    margin: 20px;
    font-size: 1.4em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.typenav .nav{
    justify-content: center !important;
}
.nav a{
    text-decoration: none;
    color: rgb(133, 127, 127);
}
.nav a:hover{
    color: red;
    transition-delay: 0.2s;
}
.typeitem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.typeitem a{
    text-decoration: none;
    color: black;
}
.typeitem a:hover{
    color: rgb(107, 105, 211);
}
.typeimg{
    width: 300px;
}
.typebtn{
    width: 200px !important;
    margin: auto;
    margin-top: 30px !important;
    background-color: red;
    text-align: center;
}
.typebtn a{
    text-decoration: none;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
    /*best mileage section*/
.mileagesec{
    background-color: rgba(202, 202, 202, 0.4);
}
.mileageimg{
    width: 300px !important;
    display: flex;
    flex-direction: row;
}
.mileageitem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mileageitem a{
    text-decoration: none;
    color: black !important;
}
.mileageitem a:hover{
    color: rgb(107, 105, 211) !important;
}
    /*card section goes here*/
.cardparent{
    width: 100%;
    background: url(./cover/testi-bg.jpg);
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
.cardh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.cards{
    background-color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 50px !important;
    width: 28% !important;
}
.icon-quote{
    width: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.media{
    display: flex;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.profile-photo{
    display: block;
    margin-left: 10px;
}
.profile-photo img{
    width: 50px !important;
}
.indicate{
    margin-bottom: -3.5rem !important;
}
    /*cards of news section goes here*/
.cardnews-parent{
    margin-top: 50px;
    margin-bottom: 120px;
}
.newsh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
}
.date{
    text-decoration: none;
}
.date:hover{
    color: red !important;
}
    /*footer section goes here*/
.footer-parent{
    background-color: black;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px !important;
}
.parent-row{
    margin-bottom: 40px;
}
.logo-footer{
    width: 100px !important;
    height: 120px !important;
    margin-top: -90px;
}
.column h4{
    font-weight: 600;
    font-size: 1.8em;
}
.column ul{
    display: flex;
    flex-direction: column !important;
}
.column a{
    color: rgb(165, 164, 164) !important;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}
.column a:hover{
    color: rgb(229, 226, 226) !important;
}
.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social-icons img{
    width: 50px !important;
    margin: 10px;
}
.price-sec{
    background-color: rgb(82, 82, 82);
    position: relative;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}
.bank-logo{
    display: inline-flex;
    justify-content: flex-end;
}
.bank-logo img{
    width: 60px;
    height: 84px;
    margin-right: 15px;
    justify-content: space-between;
}
.bank-logo img:hover{
    background-color: rgb(66, 66, 66);
}
.last-section{
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.last-section a{
    text-decoration: none;
    color: red !important;
}

